/* 배경이미지 */

.bgimg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

/* 바디 콘테이너 */

.container {
  position: relative;
  padding: 50px;
  margin: 0 auto;
  min-width: 650px;
  color: #f8f8ff;
}

/* 헤더 */

.day-area {
  height: 300px;
}

#clock {
  font-size: 36px;
  font-weight: 700;
  margin: 10px 0 20px 0;
}

#clock::before {
  content: "";
  position: absolute;
  display: block;
  top: 50px;
  left: 52px;
  width: 20px;
  height: 3px;
  border-radius: 1px;
  background-color: #f8f8ff;
}

#weather {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}

#weather p {
  margin: 5px 0;
}

#weather p:last-child {
  font-size: 18px;
}

#quote {
  font-size: 16px;
  font-weight: 100;
}

#quote p {
  font-style: italic;
  margin: 10px 0;
}

#quote p:last-child {
  margin: 10px 0;
  font-size: 14px;
  font-weight: 700;
}

.main-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* 로그인 */

.text-area {
  height: 200px;
}

.welcome-area {
  position: relative;
  width: 550px;
  margin: auto 0;
}

.greeting-area {
  width: 550px;
  margin-bottom: 30px;
}

#login-form {
  font-size: 50px;
  font-weight: bold;
  margin: 0 auto;
}

#login-form input {
  display: block;
  width: 500px;
  height: 160px;
  border: 0;
  border-radius: 3px;
  background-color: transparent;
}

#login-form input::placeholder {
  color: #f8f8ff;
}

#login-form button {
  display: block;
  width: 100px;
  height: 35px;
  background-color: transparent;
  border: 1.5px solid #f8f8ff;
  border-radius: 3px;
  text-align: left;
  padding-left: 10px;
  font-weight: 400;
  font-size: 16px;
  color: #f8f8ff;
}

#greeting {
  font-size: 70px;
  font-weight: bold;
}

#cheering {
  font-size: 25px;
  font-weight: 600;
  margin-top: 80px;
}

/* to do */

.todo-area {
  position: relative;
  width: 550px;
  font-weight: 400;
  font-size: 16px;
  margin-top: 120px;
}

#todo-form input {
  width: 550px;
  height: 40px;
  padding-left: 20px;
  border: 0;
  margin: 0 auto;
  border-radius: 3px 3px 0 0;
  background-color: rgba(255, 255, 255, 0.3);
}

#todo-list {
  position: relative;
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 0 0 3px 3px;
}

#todo-list {
  display: block;
  margin: 0 auto;
}

#todo-list li {
  padding: 5px 0 5px 20px;
}

#todo-list li::before {
  content: "";
  position: absolute;
  display: block;
  top: 1px;
  left: 10px;
  width: 530px;
  height: 1px;
  background-color: #f8f8ff;
}

#todo-list button {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  background-color: transparent;
  border: none;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  color: #f8f8ff;
}

/* 푸터 */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  min-width: 650px;
  height: 50px;
  text-align: center;
  background-color: transparent;
}

.git-logo-footer {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: 27px;
  height: 27px;
  vertical-align: middle;
}

.git-logo {
  fill: #f8f8ff;
}

.luv-footer {
  position: absolute;
  right: 50px;
  bottom: 50px;
  font-size: 16px;
  font-weight: 100;
}
